@font-face {
	font-family: 'NanumBarunGothic';
	src: local("☺"), url("../../fonts/NanumBarunGothic.woff") format("woff");
}

body {
	/* font-family: "Helvetica Neue", Helvetica, Arial, "NanumBarunGothic", sans-serif; */
}

/*******************************************************************************************************
 Header 디자인
*******************************************************************************************************/
.navbar-brand {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.navbar-brand img {
	height: 2rem;
}

.navigation-title {
	font-weight: 600;
	font-size: 1rem;
}

/*******************************************************************************************************
 content 디자인
*******************************************************************************************************/
.page-title {
	padding: 1.5rem 0.2rem;
}

.page-title i {
	font-size: 22px;
	vertical-align: text-top;
}

/*******************************************************************************************************
 swal2 디자인
*******************************************************************************************************/
.swal2-title {
	font-weight: 600;
}

.modal-footer:not([class*=bg-]) {
    padding-top: 1.25rem;
    border-top-width: 1px;
}

/*******************************************************************************************************
 Table 디자인
*******************************************************************************************************/
.table th {
	font-weight: 600;
}

div.dt-buttons {
	margin-bottom: 0;
}

.btn-sm {
	padding: 0.2rem 0.5rem;
}