<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
      
    <th:block layout:fragment="css">
    </th:block>
    
    <th:block layout:fragment="content">
    	<div class="page-header page-header-light">
	    	<div class="page-header-content header-elements-md-inline">
				<div class="page-title d-flex">
					<h4>
						<i class="icon-stack mr-3"></i><span class="font-weight-bold">약어 관리</span>
					</h4>
				</div>
			</div>
			<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
				<div class="d-flex">
					<div class="breadcrumb">
						<a th:href="@{/home}" class="breadcrumb-item">
							<i class="icon-home2 mr-2"></i> Home
						</a>
						<span class="breadcrumb-item active">약어 관리</span>
					</div>
				</div>
			</div>
    	</div>
    	
    	<div class="content">
    		<div class="row">
    			<div class="col-md-2">
    				<div class="card">
						<div class="card-header bg-transparent header-elements-inline">
							<span class="text-uppercase font-size-md font-weight-bold">검색 조건</span>
							<div class="header-elements">
								<div class="list-icons">
			                		<a class="list-icons-item" data-action="collapse"></a>
			               		</div>
			          		</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<input type="search" class="form-control" placeholder="약어 명" name="name" autocomplete="off">
							</div>
							<button type="button" id="searchBtn" class="btn bg-teal-400 btn-block">
								<i class="icon-search4 mr-2"></i>검 색
							</button>
						</div>
					</div>
    			</div>
    			<div class="col-md-10">
    				<div class="card">
    					<div class="card-header">
    						<h5 class="card-title">약어 목록</h5>
    					</div>
    					<table class="table table-bordered" id="abbrTable">
							<thead class="text-center">
								<tr class="table-active">
									<th>약어 명</th>
									<th>약어 풀이</th>
									<th>설명</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody class="text-center"></tbody>
						</table>
    				</div>
    			</div>
    		</div>
    	</div>
    </th:block>
    
    <th:block layout:fragment="script">
    	<script th:src="@{/js/page/abbr.js}"></script>
    </th:block>
</html>