<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/default_layout">
      
    <th:block layout:fragment="css">
    </th:block>
    
    <th:block layout:fragment="content">
    	<div class="page-header page-header-light">
	    	<div class="page-header-content header-elements-md-inline">
				<div class="page-title d-flex">
					<h4>
						<i class="icon-stack mr-3"></i><span class="font-weight-bold">용어 등록</span>
					</h4>
				</div>
			</div>
			<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
				<div class="d-flex">
					<div class="breadcrumb">
						<a th:href="@{/home}" class="breadcrumb-item">
							<i class="icon-home2 mr-2"></i> Home
						</a>
						<span class="breadcrumb-item">용어 관리</span>
						<span class="breadcrumb-item active">용어 등록</span>
					</div>
				</div>
			</div>
    	</div>
    	
    	<div class="content">
    		<div class="row">
    		
    		</div>
    	</div>
    </th:block>
    
    <th:block layout:fragment="script">
    	<script th:src="@{/js/page/term.js}"></script>
    </th:block>
</html>