<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- sidebarFragment 사용 -->
<th:block th:fragment="sidebarFragment">
	<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
		<div class="sidebar-mobile-toggler text-center">
			<a href="#" class="sidebar-mobile-main-toggle">
				<i class="icon-arrow-left8"></i>
			</a>
			Navigation
			<a href="#" class="sidebar-mobile-expand">
				<i class="icon-screen-full"></i>
				<i class="icon-screen-normal"></i>
			</a>
		</div>
		
		<div class="sidebar-content">
			<div class="card card-sidebar-mobile">
				<ul class="nav nav-sidebar" data-nav-type="accordion">
					<li class="nav-item-header">
						<div class="text-uppercase font-size-md line-height-md">관리</div> 
						<i class="icon-menu" title="Main"></i>
					</li>
					<li id="home" class="nav-item">
						<a th:href="@{/home}" class="nav-link">
							<i class="icon-home4"></i><span>대시보드</span>
						</a>
					</li>
					<li id="term" class="nav-item">
						<a th:href="@{/term/list}" class="nav-link">
							<i class="icon-stack"></i><span>용어 관리</span>
						</a>
					</li>
					<li id="word" class="nav-item">
						<a th:href="@{/word/list}" class="nav-link">
							<i class="icon-stack"></i><span>단어 관리</span>
						</a>
					</li>
					<li id="abbr" class="nav-item">
						<a th:href="@{/abbr/list}" class="nav-link">
							<i class="icon-stack"></i><span>약어 관리</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<script>
		var pathName = this.location.pathname;
		var menuName = pathName.split("/")[2];
	    
		$("li#" + menuName).children().addClass("active");
	</script>
</th:block>
</html>